.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to right, grey, #352b2b);
    padding: 1em;
}

.nav-item {
    text-align: center;
    color: white;
    text-decoration: none;
    border: double white 2px;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

a {
    color: white;
}

body {
    background-color: #ccc;
    color: brown;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    margin: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

h1 {
    padding-bottom: 5px;
    border-bottom: dotted black 1px;
}

input,
select {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: linear-gradient(to right, grey, #352b2b);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: solid 1.5px black;
    font-size: 16px;
}

p {
    margin-left: 20%;
    margin-right: 20%;

}

ul {
    margin-left: 25%;
    margin-right: 25%;
}

img {
    width: 300px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
    p {
        margin-left: 10%;
        margin-right: 10%;
    }

    ul {
        margin-left: 15%;
        margin-right: 15%;
    }
}